create_test_case/__pycache__/analysis_processor.cpython-313.pyc
create_test_case/__pycache__/api_client.cpython-313.pyc
create_test_case/__pycache__/config_manager.cpython-313.pyc
create_test_case/__pycache__/file_processor.cpython-313.pyc
create_test_case/__pycache__/pdf_converter.cpython-313.pyc
create_test_case/__pycache__/prompt_manager.cpython-313.pyc
create_test_case/__pycache__/test_case_generator.cpython-313.pyc
create_test_case/__pycache__/test_matrix_generator.cpython-313.pyc
create_test_case/old/page_1 (2).md
create_test_case/old/page_1.jpg
create_test_case/old/page_1.md
create_test_case/old/page_2.jpg
create_test_case/old/page_3 (2).md
create_test_case/old/page_3.jpg
create_test_case/old/page_3.md
create_test_case/old/page_4.jpg
create_test_case/old/page_4.md
create_test_case/old/Prompt - Generate QA Test Cases.md
create_test_case/old/session-ses_154c.md
create_test_case/old/test_matrix_v2.xlsx
create_test_case/old/test_matrix.xlsx
create_test_case/old/分析提示词 - Copy.md
create_test_case/old/分析提示词.md
create_test_case/old/提示词.txt
create_test_case/old/生成提示词 - Copy.md
create_test_case/old/研究结论.txt
create_test_case/old/Round2/Draft Test Plan of HR Web UI Testing.docx
create_test_case/old/Round2/generate_hr_test_matrix_v2.py
create_test_case/old/Round2/generate_hr_test_matrix.py
create_test_case/old/Round2/hr_test_matrix_only_by_test_suit.xlsx
create_test_case/old/Round2/hr_test_matrix_v2_test_suit_and_guide_lines.xlsx
create_test_case/old/Round2/Prompt - Generate QA Test Cases - Copy.md
create_test_case/old/Round2/session-ses_1370.md
create_test_case/old/Round2/test_data_launch.py
create_test_case/old/Round2/test_data_performances.py
create_test_case/old/Round2/test_data_settings.py
create_test_case/old/Round2/test_data_teleops.py
create_test_case/old/Round2/Token.PNG
create_test_case/old/Round2/Web UI Operation Guidelines for Testers_full_0314.docx
create_test_case/old/Round2/__pycache__/test_data_launch.cpython-313.pyc
create_test_case/old/Round2/__pycache__/test_data_performances.cpython-313.pyc
create_test_case/old/Round2/__pycache__/test_data_settings.cpython-313.pyc
create_test_case/old/Round2/__pycache__/test_data_teleops.cpython-313.pyc
create_test_case/old/Round3/api_client.py
create_test_case/old/Round3/excel_generator.py
create_test_case/old/Round3/Flowchart.pdf
create_test_case/old/Round3/logic_processor.py
create_test_case/old/Round3/main.py
create_test_case/old/Round3/pdf_to_images.py
create_test_case/old/Round3/Prompt - Generate QA Test Cases.md
create_test_case/old/Round3/python_to_upload_the_image.py
create_test_case/old/Round3/QA_Test_Matrix.xlsx
create_test_case/old/Round3/session-ses_135b.md
create_test_case/old/Round3/Olds/convert_pdf.py
create_test_case/old/Round3/Olds/debug_main_prompt.py
create_test_case/old/Round3/Olds/Flowchart.txt
create_test_case/old/Round3/Olds/generate_improved_test_matrix.py
create_test_case/old/Round3/Olds/generate_test_matrix.py
create_test_case/old/Round3/Olds/group_blocks.py
create_test_case/old/Round3/Olds/High_Fidelity_Test_Matrix.xlsx
create_test_case/old/Round3/Olds/page_1 - Copy.md
create_test_case/old/Round3/Olds/spatial_data.json
create_test_case/old/Round3/Olds/spatial_extract.py
create_test_case/old/Round3/Olds/structured_blocks.json
create_test_case/old/Round3/Olds/test_api.py
create_test_case/old/Round3/Olds/test_case_generator.py
create_test_case/old/Round3/Olds/Test_Matrix(要求AI自己建立脚本分析pdf的结果).xlsx
create_test_case/old/Round3/__pycache__/api_client.cpython-313.pyc
create_test_case/old/Round3/__pycache__/excel_generator.cpython-313.pyc
create_test_case/old/Round3/__pycache__/logic_processor.cpython-313.pyc
create_test_case/old/Round3/__pycache__/pdf_to_images.cpython-313.pyc
create_test_case/old/Round3/__pycache__/test_case_generator.cpython-313.pyc
create_test_case/old/Round3/images/page_1.jpg
create_test_case/old/Round3/images/page_2.jpg
create_test_case/old/Round3/images/page_3.jpg
create_test_case/old/Round3/images/page_4.jpg
create_test_case/Zoomer/2014_03-26_MiniZoomer_Flow_v10b.pdf
create_test_case/Zoomer/2014_03-26_MiniZoomer_ResponseTable_v10i.xlsx
create_test_case/Zoomer/Revised 11.xlsx
create_test_case/Zoomer/Zuppies Test Mode Instructions R0.docx
create_test_case/output/test_cases_special.json
create_test_case/output/test_cases.json
create_test_case/output/test_matrix_v1.csv
create_test_case/output/test_matrix_v1.xlsx
create_test_case/output/test_matrix_v2.xlsx
create_test_case/output/test_matrix_v3.xlsx
create_test_case/output/test_matrix_v4.xlsx
create_test_case/output/test_matrix_v5.xlsx
create_test_case/output/2026.06.17/page_1.md
create_test_case/output/2026.06.17/page_2_new.md
create_test_case/output/2026.06.17/page_2.md
create_test_case/output/2026.06.17/page_3.md
create_test_case/output/2026.06.17/page_4(分析不出来,死循环).md
create_test_case/output/2026.06.17_2/page_1.md
create_test_case/output/2026.06.17_2/page_2.md
create_test_case/output/2026.06.17_2/page_3.md
create_test_case/output/2026.06.17_2/page_4 (2).md
create_test_case/output/2026.06.17_2/page_4.md
create_test_case/output/analysis/page_1.md
create_test_case/output/analysis/page_2.md
create_test_case/output/analysis/page_3.md
create_test_case/output/images/page_1.jpg
create_test_case/output/images/page_2.jpg
create_test_case/output/images/zoomer_page_3.jpg
create_test_case/output/images/zoomer_page_4.jpg
create_test_case/output/images/zoomer_page_5.jpg
create_test_case/output/images/zoomer_page_6.jpg
create_test_case/output/images/zoomer_page_7.jpg
create_test_case/output/images/zoomer_page_8.jpg
create_test_case/output/images/zoomer_page_9.jpg
create_test_case/output/images/zoomer_page_10.jpg
create_test_case/output/images/zoomer_page_11.jpg
fetech_hs300_detail/__pycache__/config.cpython-313.pyc
fetech_hs300_detail/__pycache__/csv_exporter.cpython-313.pyc
fetech_hs300_detail/__pycache__/finance_fetcher.cpython-313.pyc
fetech_hs300_detail/__pycache__/hs300_fetcher.cpython-313.pyc
fetech_hs300_detail/__pycache__/html_generator.cpython-313.pyc
fetech_hs300_detail/__pycache__/html_template.cpython-313.pyc
fetech_hs300_detail/__pycache__/utils.cpython-313.pyc
fetech_xs/__pycache__/build_epub.cpython-313.pyc
fetech_xs/__pycache__/download_novel.cpython-313.pyc
simple_test_matrix_system/scripts/__pycache__/pdf_converter.cpython-313.pyc
fetech_hs300_detail/OriginalData/2026-06-11/000001_平安银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/000002_万科A.csv
fetech_hs300_detail/OriginalData/2026-06-11/000063_中兴通讯.csv
fetech_hs300_detail/OriginalData/2026-06-11/000100_TCL科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/000157_中联重科.csv
fetech_hs300_detail/OriginalData/2026-06-11/000166_申万宏源.csv
fetech_hs300_detail/OriginalData/2026-06-11/000301_东方盛虹.csv
fetech_hs300_detail/OriginalData/2026-06-11/000333_美的集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/000338_潍柴动力.csv
fetech_hs300_detail/OriginalData/2026-06-11/000408_藏格矿业.csv
fetech_hs300_detail/OriginalData/2026-06-11/000425_徐工机械.csv
fetech_hs300_detail/OriginalData/2026-06-11/000538_云南白药.csv
fetech_hs300_detail/OriginalData/2026-06-11/000568_泸州老窖.csv
fetech_hs300_detail/OriginalData/2026-06-11/000596_古井贡酒.csv
fetech_hs300_detail/OriginalData/2026-06-11/000617_中油资本.csv
fetech_hs300_detail/OriginalData/2026-06-11/000625_长安汽车.csv
fetech_hs300_detail/OriginalData/2026-06-11/000630_铜陵有色.csv
fetech_hs300_detail/OriginalData/2026-06-11/000651_格力电器.csv
fetech_hs300_detail/OriginalData/2026-06-11/000661_长春高新.csv
fetech_hs300_detail/OriginalData/2026-06-11/000708_中信特钢.csv
fetech_hs300_detail/OriginalData/2026-06-11/000725_京东方A.csv
fetech_hs300_detail/OriginalData/2026-06-11/000768_中航西飞.csv
fetech_hs300_detail/OriginalData/2026-06-11/000776_广发证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/000786_北新建材.csv
fetech_hs300_detail/OriginalData/2026-06-11/000792_盐湖股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/000807_云铝股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/000858_五粮液.csv
fetech_hs300_detail/OriginalData/2026-06-11/000876_新希望.csv
fetech_hs300_detail/OriginalData/2026-06-11/000895_双汇发展.csv
fetech_hs300_detail/OriginalData/2026-06-11/000938_紫光股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/000963_华东医药.csv
fetech_hs300_detail/OriginalData/2026-06-11/000975_山金国际.csv
fetech_hs300_detail/OriginalData/2026-06-11/000977_浪潮信息.csv
fetech_hs300_detail/OriginalData/2026-06-11/000983_山西焦煤.csv
fetech_hs300_detail/OriginalData/2026-06-11/000999_华润三九.csv
fetech_hs300_detail/OriginalData/2026-06-11/001391_国货航.csv
fetech_hs300_detail/OriginalData/2026-06-11/001965_招商公路.csv
fetech_hs300_detail/OriginalData/2026-06-11/001979_招商蛇口.csv
fetech_hs300_detail/OriginalData/2026-06-11/002001_新和成.csv
fetech_hs300_detail/OriginalData/2026-06-11/002027_分众传媒.csv
fetech_hs300_detail/OriginalData/2026-06-11/002028_思源电气.csv
fetech_hs300_detail/OriginalData/2026-06-11/002049_紫光国微.csv
fetech_hs300_detail/OriginalData/2026-06-11/002050_三花智控.csv
fetech_hs300_detail/OriginalData/2026-06-11/002074_国轩高科.csv
fetech_hs300_detail/OriginalData/2026-06-11/002142_宁波银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/002179_中航光电.csv
fetech_hs300_detail/OriginalData/2026-06-11/002230_科大讯飞.csv
fetech_hs300_detail/OriginalData/2026-06-11/002236_大华股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/002241_歌尔股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/002252_上海莱士.csv
fetech_hs300_detail/OriginalData/2026-06-11/002304_洋河股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/002311_海大集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/002352_顺丰控股.csv
fetech_hs300_detail/OriginalData/2026-06-11/002371_北方华创.csv
fetech_hs300_detail/OriginalData/2026-06-11/002384_东山精密.csv
fetech_hs300_detail/OriginalData/2026-06-11/002415_海康威视.csv
fetech_hs300_detail/OriginalData/2026-06-11/002422_科伦药业.csv
fetech_hs300_detail/OriginalData/2026-06-11/002459_晶澳科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/002460_赣锋锂业.csv
fetech_hs300_detail/OriginalData/2026-06-11/002463_沪电股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/002466_天齐锂业.csv
fetech_hs300_detail/OriginalData/2026-06-11/002475_立讯精密.csv
fetech_hs300_detail/OriginalData/2026-06-11/002493_荣盛石化.csv
fetech_hs300_detail/OriginalData/2026-06-11/002594_比亚迪.csv
fetech_hs300_detail/OriginalData/2026-06-11/002600_领益智造.csv
fetech_hs300_detail/OriginalData/2026-06-11/002601_龙佰集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/002625_光启技术.csv
fetech_hs300_detail/OriginalData/2026-06-11/002648_卫星化学.csv
fetech_hs300_detail/OriginalData/2026-06-11/002709_天赐材料.csv
fetech_hs300_detail/OriginalData/2026-06-11/002714_牧原股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/002736_国信证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/002916_深南电路.csv
fetech_hs300_detail/OriginalData/2026-06-11/002920_德赛西威.csv
fetech_hs300_detail/OriginalData/2026-06-11/002938_鹏鼎控股.csv
fetech_hs300_detail/OriginalData/2026-06-11/003816_中国广核.csv
fetech_hs300_detail/OriginalData/2026-06-11/300014_亿纬锂能.csv
fetech_hs300_detail/OriginalData/2026-06-11/300015_爱尔眼科.csv
fetech_hs300_detail/OriginalData/2026-06-11/300033_同花顺.csv
fetech_hs300_detail/OriginalData/2026-06-11/300059_东方财富.csv
fetech_hs300_detail/OriginalData/2026-06-11/300122_智飞生物.csv
fetech_hs300_detail/OriginalData/2026-06-11/300124_汇川技术.csv
fetech_hs300_detail/OriginalData/2026-06-11/300251_光线传媒.csv
fetech_hs300_detail/OriginalData/2026-06-11/300274_阳光电源.csv
fetech_hs300_detail/OriginalData/2026-06-11/300308_中际旭创.csv
fetech_hs300_detail/OriginalData/2026-06-11/300316_晶盛机电.csv
fetech_hs300_detail/OriginalData/2026-06-11/300347_泰格医药.csv
fetech_hs300_detail/OriginalData/2026-06-11/300394_天孚通信.csv
fetech_hs300_detail/OriginalData/2026-06-11/300408_三环集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/300413_芒果超媒.csv
fetech_hs300_detail/OriginalData/2026-06-11/300418_昆仑万维.csv
fetech_hs300_detail/OriginalData/2026-06-11/300433_蓝思科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/300442_润泽科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/300476_胜宏科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/300498_温氏股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/300502_新易盛.csv
fetech_hs300_detail/OriginalData/2026-06-11/300628_亿联网络.csv
fetech_hs300_detail/OriginalData/2026-06-11/300661_圣邦股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/300750_宁德时代.csv
fetech_hs300_detail/OriginalData/2026-06-11/300759_康龙化成.csv
fetech_hs300_detail/OriginalData/2026-06-11/300760_迈瑞医疗.csv
fetech_hs300_detail/OriginalData/2026-06-11/300782_卓胜微.csv
fetech_hs300_detail/OriginalData/2026-06-11/300803_指南针.csv
fetech_hs300_detail/OriginalData/2026-06-11/300832_新产业.csv
fetech_hs300_detail/OriginalData/2026-06-11/300866_安克创新.csv
fetech_hs300_detail/OriginalData/2026-06-11/300896_爱美客.csv
fetech_hs300_detail/OriginalData/2026-06-11/300979_华利集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/300999_金龙鱼.csv
fetech_hs300_detail/OriginalData/2026-06-11/301236_软通动力.csv
fetech_hs300_detail/OriginalData/2026-06-11/301269_华大九天.csv
fetech_hs300_detail/OriginalData/2026-06-11/302132_中航成飞.csv
fetech_hs300_detail/OriginalData/2026-06-11/600000_浦发银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600009_上海机场.csv
fetech_hs300_detail/OriginalData/2026-06-11/600010_包钢股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600011_华能国际.csv
fetech_hs300_detail/OriginalData/2026-06-11/600015_华夏银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600016_民生银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600018_上港集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/600019_宝钢股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600023_浙能电力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600025_华能水电.csv
fetech_hs300_detail/OriginalData/2026-06-11/600026_中远海能.csv
fetech_hs300_detail/OriginalData/2026-06-11/600027_华电国际.csv
fetech_hs300_detail/OriginalData/2026-06-11/600028_中国石化.csv
fetech_hs300_detail/OriginalData/2026-06-11/600029_南方航空.csv
fetech_hs300_detail/OriginalData/2026-06-11/600030_中信证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/600031_三一重工.csv
fetech_hs300_detail/OriginalData/2026-06-11/600036_招商银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600039_四川路桥.csv
fetech_hs300_detail/OriginalData/2026-06-11/600048_保利发展.csv
fetech_hs300_detail/OriginalData/2026-06-11/600050_中国联通.csv
fetech_hs300_detail/OriginalData/2026-06-11/600061_国投资本.csv
fetech_hs300_detail/OriginalData/2026-06-11/600066_宇通客车.csv
fetech_hs300_detail/OriginalData/2026-06-11/600085_同仁堂.csv
fetech_hs300_detail/OriginalData/2026-06-11/600089_特变电工.csv
fetech_hs300_detail/OriginalData/2026-06-11/600104_上汽集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/600111_北方稀土.csv
fetech_hs300_detail/OriginalData/2026-06-11/600115_中国东航.csv
fetech_hs300_detail/OriginalData/2026-06-11/600150_中国船舶.csv
fetech_hs300_detail/OriginalData/2026-06-11/600160_巨化股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600161_天坛生物.csv
fetech_hs300_detail/OriginalData/2026-06-11/600176_中国巨石.csv
fetech_hs300_detail/OriginalData/2026-06-11/600183_生益科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/600188_兖矿能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/600196_复星医药.csv
fetech_hs300_detail/OriginalData/2026-06-11/600219_南山铝业.csv
fetech_hs300_detail/OriginalData/2026-06-11/600233_圆通速递.csv
fetech_hs300_detail/OriginalData/2026-06-11/600276_恒瑞医药.csv
fetech_hs300_detail/OriginalData/2026-06-11/600309_万华化学.csv
fetech_hs300_detail/OriginalData/2026-06-11/600346_恒力石化.csv
fetech_hs300_detail/OriginalData/2026-06-11/600362_江西铜业.csv
fetech_hs300_detail/OriginalData/2026-06-11/600372_中航机载.csv
fetech_hs300_detail/OriginalData/2026-06-11/600377_宁沪高速.csv
fetech_hs300_detail/OriginalData/2026-06-11/600406_国电南瑞.csv
fetech_hs300_detail/OriginalData/2026-06-11/600415_小商品城.csv
fetech_hs300_detail/OriginalData/2026-06-11/600426_华鲁恒升.csv
fetech_hs300_detail/OriginalData/2026-06-11/600436_片仔癀.csv
fetech_hs300_detail/OriginalData/2026-06-11/600438_通威股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600460_士兰微.csv
fetech_hs300_detail/OriginalData/2026-06-11/600482_中国动力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600489_中金黄金.csv
fetech_hs300_detail/OriginalData/2026-06-11/600515_海南机场.csv
fetech_hs300_detail/OriginalData/2026-06-11/600519_贵州茅台.csv
fetech_hs300_detail/OriginalData/2026-06-11/600522_中天科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/600547_山东黄金.csv
fetech_hs300_detail/OriginalData/2026-06-11/600570_恒生电子.csv
fetech_hs300_detail/OriginalData/2026-06-11/600584_长电科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/600585_海螺水泥.csv
fetech_hs300_detail/OriginalData/2026-06-11/600588_用友网络.csv
fetech_hs300_detail/OriginalData/2026-06-11/600600_青岛啤酒.csv
fetech_hs300_detail/OriginalData/2026-06-11/600660_福耀玻璃.csv
fetech_hs300_detail/OriginalData/2026-06-11/600674_川投能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/600690_海尔智家.csv
fetech_hs300_detail/OriginalData/2026-06-11/600741_华域汽车.csv
fetech_hs300_detail/OriginalData/2026-06-11/600760_中航沈飞.csv
fetech_hs300_detail/OriginalData/2026-06-11/600795_国电电力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600803_新奥股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600809_山西汾酒.csv
fetech_hs300_detail/OriginalData/2026-06-11/600845_宝信软件.csv
fetech_hs300_detail/OriginalData/2026-06-11/600875_东方电气.csv
fetech_hs300_detail/OriginalData/2026-06-11/600886_国投电力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600887_伊利股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/600893_航发动力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600900_长江电力.csv
fetech_hs300_detail/OriginalData/2026-06-11/600905_三峡能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/600918_中泰证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/600919_江苏银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600926_杭州银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/600930_华电新能.csv
fetech_hs300_detail/OriginalData/2026-06-11/600938_中国海油.csv
fetech_hs300_detail/OriginalData/2026-06-11/600941_中国移动.csv
fetech_hs300_detail/OriginalData/2026-06-11/600958_东方证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/600989_宝丰能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/600999_招商证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601006_大秦铁路.csv
fetech_hs300_detail/OriginalData/2026-06-11/601009_南京银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601012_隆基绿能.csv
fetech_hs300_detail/OriginalData/2026-06-11/601018_宁波港.csv
fetech_hs300_detail/OriginalData/2026-06-11/601021_春秋航空.csv
fetech_hs300_detail/OriginalData/2026-06-11/601058_赛轮轮胎.csv
fetech_hs300_detail/OriginalData/2026-06-11/601059_信达证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601066_中信建投.csv
fetech_hs300_detail/OriginalData/2026-06-11/601077_渝农商行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601088_中国神华.csv
fetech_hs300_detail/OriginalData/2026-06-11/601100_恒立液压.csv
fetech_hs300_detail/OriginalData/2026-06-11/601111_中国国航.csv
fetech_hs300_detail/OriginalData/2026-06-11/601117_中国化学.csv
fetech_hs300_detail/OriginalData/2026-06-11/601127_赛力斯.csv
fetech_hs300_detail/OriginalData/2026-06-11/601136_首创证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601138_工业富联.csv
fetech_hs300_detail/OriginalData/2026-06-11/601166_兴业银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601169_北京银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601186_中国铁建.csv
fetech_hs300_detail/OriginalData/2026-06-11/601211_国泰海通.csv
fetech_hs300_detail/OriginalData/2026-06-11/601225_陕西煤业.csv
fetech_hs300_detail/OriginalData/2026-06-11/601229_上海银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601236_红塔证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601238_广汽集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/601288_农业银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601298_青岛港.csv
fetech_hs300_detail/OriginalData/2026-06-11/601318_中国平安.csv
fetech_hs300_detail/OriginalData/2026-06-11/601319_中国人保.csv
fetech_hs300_detail/OriginalData/2026-06-11/601328_交通银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601336_新华保险.csv
fetech_hs300_detail/OriginalData/2026-06-11/601360_三六零.csv
fetech_hs300_detail/OriginalData/2026-06-11/601377_兴业证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601390_中国中铁.csv
fetech_hs300_detail/OriginalData/2026-06-11/601398_工商银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601456_国联民生.csv
fetech_hs300_detail/OriginalData/2026-06-11/601600_中国铝业.csv
fetech_hs300_detail/OriginalData/2026-06-11/601601_中国太保.csv
fetech_hs300_detail/OriginalData/2026-06-11/601607_上海医药.csv
fetech_hs300_detail/OriginalData/2026-06-11/601618_中国中冶.csv
fetech_hs300_detail/OriginalData/2026-06-11/601628_中国人寿.csv
fetech_hs300_detail/OriginalData/2026-06-11/601633_长城汽车.csv
fetech_hs300_detail/OriginalData/2026-06-11/601658_邮储银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601668_中国建筑.csv
fetech_hs300_detail/OriginalData/2026-06-11/601669_中国电建.csv
fetech_hs300_detail/OriginalData/2026-06-11/601688_华泰证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601689_拓普集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/601698_中国卫通.csv
fetech_hs300_detail/OriginalData/2026-06-11/601728_中国电信.csv
fetech_hs300_detail/OriginalData/2026-06-11/601766_中国中车.csv
fetech_hs300_detail/OriginalData/2026-06-11/601788_光大证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601800_中国交建.csv
fetech_hs300_detail/OriginalData/2026-06-11/601808_中海油服.csv
fetech_hs300_detail/OriginalData/2026-06-11/601816_京沪高铁.csv
fetech_hs300_detail/OriginalData/2026-06-11/601818_光大银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601825_沪农商行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601838_成都银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601857_中国石油.csv
fetech_hs300_detail/OriginalData/2026-06-11/601868_中国能建.csv
fetech_hs300_detail/OriginalData/2026-06-11/601872_招商轮船.csv
fetech_hs300_detail/OriginalData/2026-06-11/601877_正泰电器.csv
fetech_hs300_detail/OriginalData/2026-06-11/601878_浙商证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601881_中国银河.csv
fetech_hs300_detail/OriginalData/2026-06-11/601888_中国中免.csv
fetech_hs300_detail/OriginalData/2026-06-11/601898_中煤能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/601899_紫金矿业.csv
fetech_hs300_detail/OriginalData/2026-06-11/601901_方正证券.csv
fetech_hs300_detail/OriginalData/2026-06-11/601916_浙商银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601919_中远海控.csv
fetech_hs300_detail/OriginalData/2026-06-11/601939_建设银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601985_中国核电.csv
fetech_hs300_detail/OriginalData/2026-06-11/601988_中国银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/601995_中金公司.csv
fetech_hs300_detail/OriginalData/2026-06-11/601998_中信银行.csv
fetech_hs300_detail/OriginalData/2026-06-11/603019_中科曙光.csv
fetech_hs300_detail/OriginalData/2026-06-11/603195_公牛集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/603259_药明康德.csv
fetech_hs300_detail/OriginalData/2026-06-11/603260_合盛硅业.csv
fetech_hs300_detail/OriginalData/2026-06-11/603288_海天味业.csv
fetech_hs300_detail/OriginalData/2026-06-11/603296_华勤技术.csv
fetech_hs300_detail/OriginalData/2026-06-11/603369_今世缘.csv
fetech_hs300_detail/OriginalData/2026-06-11/603392_万泰生物.csv
fetech_hs300_detail/OriginalData/2026-06-11/603501_豪威集团.csv
fetech_hs300_detail/OriginalData/2026-06-11/603799_华友钴业.csv
fetech_hs300_detail/OriginalData/2026-06-11/603893_瑞芯微.csv
fetech_hs300_detail/OriginalData/2026-06-11/603986_兆易创新.csv
fetech_hs300_detail/OriginalData/2026-06-11/603993_洛阳钼业.csv
fetech_hs300_detail/OriginalData/2026-06-11/605117_德业股份.csv
fetech_hs300_detail/OriginalData/2026-06-11/605499_东鹏饮料.csv
fetech_hs300_detail/OriginalData/2026-06-11/688008_澜起科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/688009_中国通号.csv
fetech_hs300_detail/OriginalData/2026-06-11/688012_中微公司.csv
fetech_hs300_detail/OriginalData/2026-06-11/688036_传音控股.csv
fetech_hs300_detail/OriginalData/2026-06-11/688041_海光信息.csv
fetech_hs300_detail/OriginalData/2026-06-11/688047_龙芯中科.csv
fetech_hs300_detail/OriginalData/2026-06-11/688082_盛美上海.csv
fetech_hs300_detail/OriginalData/2026-06-11/688111_金山办公.csv
fetech_hs300_detail/OriginalData/2026-06-11/688126_沪硅产业.csv
fetech_hs300_detail/OriginalData/2026-06-11/688169_石头科技.csv
fetech_hs300_detail/OriginalData/2026-06-11/688187_时代电气.csv
fetech_hs300_detail/OriginalData/2026-06-11/688223_晶科能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/688256_寒武纪.csv
fetech_hs300_detail/OriginalData/2026-06-11/688271_联影医疗.csv
fetech_hs300_detail/OriginalData/2026-06-11/688303_大全能源.csv
fetech_hs300_detail/OriginalData/2026-06-11/688396_华润微.csv
fetech_hs300_detail/OriginalData/2026-06-11/688472_阿特斯.csv
fetech_hs300_detail/OriginalData/2026-06-11/688506_百利天恒.csv
fetech_hs300_detail/OriginalData/2026-06-11/688981_中芯国际.csv
create_test_case/output/old_backup/page_1 (2).md
create_test_case/output/old_backup/page_1.jpg
create_test_case/output/old_backup/page_1.md
create_test_case/output/old_backup/page_2.jpg
create_test_case/output/old_backup/page_3 (2).md
create_test_case/output/old_backup/page_3.jpg
create_test_case/output/old_backup/page_3.md
create_test_case/output/old_backup/page_4.jpg
create_test_case/output/old_backup/page_4.md
create_test_case/output/old_backup/test_cases_special.json
create_test_case/output/old_backup/test_cases.json
create_test_case/output/old_backup/test_matrix_v1.csv
create_test_case/output/old_backup/test_matrix_v1.xlsx
create_test_case/output/old_backup/test_matrix_v2 (2).xlsx
create_test_case/output/old_backup/test_matrix_v2.xlsx
create_test_case/output/old_backup/test_matrix_v3.xlsx
create_test_case/output/old_backup/test_matrix_v4.xlsx
create_test_case/output/old_backup/test_matrix_v5.xlsx
create_test_case/output/old_backup/test_matrix.xlsx
create_test_case/output/old_backup/TestMatrix_example.xlsx
create_test_case/output/old_backup/Round2/Draft Test Plan of HR Web UI Testing.docx
create_test_case/output/old_backup/Round2/generate_hr_test_matrix_v2.py
create_test_case/output/old_backup/Round2/generate_hr_test_matrix.py
create_test_case/output/old_backup/Round2/hr_test_matrix_only_by_test_suit.xlsx
create_test_case/output/old_backup/Round2/hr_test_matrix_v2_test_suit_and_guide_lines.xlsx
create_test_case/output/old_backup/Round2/Prompt - Generate QA Test Cases - Copy.md
create_test_case/output/old_backup/Round2/session-ses_1370.md
create_test_case/output/old_backup/Round2/test_data_launch.py
create_test_case/output/old_backup/Round2/test_data_performances.py
create_test_case/output/old_backup/Round2/test_data_settings.py
create_test_case/output/old_backup/Round2/test_data_teleops.py
create_test_case/output/old_backup/Round2/Token.PNG
create_test_case/output/old_backup/Round2/Web UI Operation Guidelines for Testers_full_0314.docx
create_test_case/output/old_backup/Round2/__pycache__/test_data_launch.cpython-313.pyc
create_test_case/output/old_backup/Round2/__pycache__/test_data_performances.cpython-313.pyc
create_test_case/output/old_backup/Round2/__pycache__/test_data_settings.cpython-313.pyc
create_test_case/output/old_backup/Round2/__pycache__/test_data_teleops.cpython-313.pyc
create_test_case/output/old_backup/Round3/api_client.py
create_test_case/output/old_backup/Round3/excel_generator.py
create_test_case/output/old_backup/Round3/Flowchart.pdf
create_test_case/output/old_backup/Round3/logic_processor.py
create_test_case/output/old_backup/Round3/main.py
create_test_case/output/old_backup/Round3/pdf_to_images.py
create_test_case/output/old_backup/Round3/Prompt - Generate QA Test Cases.md
create_test_case/output/old_backup/Round3/python_to_upload_the_image.py
create_test_case/output/old_backup/Round3/QA_Test_Matrix.xlsx
create_test_case/output/old_backup/Round3/session-ses_135b.md
create_test_case/output/old_backup/Round3/Olds/convert_pdf.py
create_test_case/output/old_backup/Round3/Olds/debug_main_prompt.py
create_test_case/output/old_backup/Round3/Olds/Flowchart.txt
create_test_case/output/old_backup/Round3/Olds/generate_improved_test_matrix.py
create_test_case/output/old_backup/Round3/Olds/generate_test_matrix.py
create_test_case/output/old_backup/Round3/Olds/group_blocks.py
create_test_case/output/old_backup/Round3/Olds/High_Fidelity_Test_Matrix.xlsx
create_test_case/output/old_backup/Round3/Olds/page_1 - Copy.md
create_test_case/output/old_backup/Round3/Olds/spatial_data.json
create_test_case/output/old_backup/Round3/Olds/spatial_extract.py
create_test_case/output/old_backup/Round3/Olds/structured_blocks.json
create_test_case/output/old_backup/Round3/Olds/test_api.py
create_test_case/output/old_backup/Round3/Olds/test_case_generator.py
create_test_case/output/old_backup/Round3/Olds/Test_Matrix(要求AI自己建立脚本分析pdf的结果).xlsx
create_test_case/output/old_backup/Round3/__pycache__/api_client.cpython-313.pyc
create_test_case/output/old_backup/Round3/__pycache__/excel_generator.cpython-313.pyc
create_test_case/output/old_backup/Round3/__pycache__/logic_processor.cpython-313.pyc
create_test_case/output/old_backup/Round3/__pycache__/pdf_to_images.cpython-313.pyc
create_test_case/output/old_backup/Round3/__pycache__/test_case_generator.cpython-313.pyc
create_test_case/output/old_backup/Round3/images/page_1.jpg
create_test_case/output/old_backup/Round3/images/page_2.jpg
create_test_case/output/old_backup/Round3/images/page_3.jpg
create_test_case/output/old_backup/Round3/images/page_4.jpg
create_test_case/issues/Capture1.PNG
create_test_case/issues/Capture2.PNG
create_test_case/issues/Chat with Eric.PNG
create_test_case/issues/Could not ana the flowchart of page2_2.PNG
create_test_case/issues/Could not ana the flowchart of page2.PNG
create_test_case/issues/Output is truncated.PNG
create_test_case/issues/Sample logic compare.PNG
create_test_case/issues/The service is abnormal.PNG
create_test_case/data/Zoomer/2014_03-26_MiniZoomer_Flow_v10b.pdf
create_test_case/data/Zoomer/2014_03-26_MiniZoomer_ResponseTable_v10i.xlsx
create_test_case/data/Zoomer/Revised 11.xlsx
create_test_case/data/Zoomer/Zuppies Test Mode Instructions R0.docx
